.Card{
    position: relative;
    width: 320px;
    height: 420px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(
        209.21deg
        , rgb(46, 20, 103) 13.57%, rgb(60, 161, 254) 98.38%); 
    border: 1px solid rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    top: 40px;
    transition: 0.5s;
    
  
}



.Card::before{
    content: '';
    width: 100%;
    height: 100%;
    top: -50%;
    position: absolute;
    background: rgb(248, 245, 245);
    transform: skewY(345deg);
    transition: 1s  ;


}
.Card:hover{
    transform: translateY(-30px) ;
    
}

.Card:hover::before{

    transform: skewY(390deg);
    top: -70%;

}
.Card::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);


}

.Card .img{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
    z-index: 1;
}
.Card .img img{
    width: 90%;
    transition: 0.5s;
}
.Card .img img:hover{
   width: 70%;
}

.Card .content{
    color: white !important; 
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.Card .content h3{
    font-weight: 600;
    font-size: 30px;
    color: white !important;
    
}

.Card .content p{
    font-size: 18px;
    position: relative;
    color: rgba(255, 255, 255, 0.8) !important;
   margin-top: 12px;
    
    
}


.Card .like{
    background: rgba(255, 255, 255, 0.1);
    padding: 3px;
    border-radius: 20px;
}
.Card  .like img{
    z-index: -1;
}